# fix a bug in the default style of check and radio buttons
style "check_button" {
    bg_pixmap[PRELIGHT] = "<parent>"
}
class "GtkCheckButton" style "check_button"

style "sky" {
    bg[NORMAL] = { 0.85, 0.85, 1.0 }
}

style "tips" {
    bg[NORMAL] = { 1.0, 1.0, 0.9 }
    fg[NORMAL] = { 0.0, 0.0, 0.3 }
}

style "window" {
    bg[NORMAL] = { 0.70, 0.75, 0.85 }
    bg[ACTIVE] = { 0.50, 0.55, 0.67 }
    bg[PRELIGHT] = { 0.60, 0.65, 0.75 }
    font_name = "Sans 10"
}

style "button" {
    bg[NORMAL] = { 0.80, 0.85, 0.9 }
    bg[ACTIVE] = { 0.65, 0.70, 0.75 }
    bg[PRELIGHT] = { 0.70, 0.75, 0.85 }
}

style "border" {
    bg[NORMAL] = { 0.0, 0.15, 0.20 }
    xthickness = 3
    ythickness = 3
}

style "decoration" {
    bg[NORMAL] = { 0.46, 0.77, 0.94 }
    fg[NORMAL] = { 0.85, 0.15, 0.11 }
    fg[ACTIVE] = { 0.85, 0.15, 0.11 }
    fg[PRELIGHT] = { 0.95, 0.25, 0.21 }
    font_name = "Sans Bold 8"
    GtkButton::default_border = { 5, 0, 5, 0 }
    GtkButton::child_displacement_x = 1
    GtkButton::child_displacement_y = 1
}

style "caption" {
    bg[NORMAL] = { 0.25, 0.35, 0.75 }
}

style "title" {
    fg[NORMAL] = { 1.00, 1.00, 0.90 }
}

binding "help_main" {
    bind "F1" {	"user-action" ("help_show:0") }
}

binding "help_p1" {
    bind "F1" {	"user-action" ("help_show:1") }
}

binding "help_p2" {
    bind "F1" {	"user-action" ("help_show:2") }
}

binding "help_p3" {
    bind "F1" {	"user-action" ("help_show:3") }
}

binding "help_p4" {
    bind "F1" {	"user-action" ("help_show:4") }
}

binding "help_help" {
    bind "F1" {	"user-action" ("help_show:99") }
}

widget "gtk-tooltips" style "tips"
widget "gtk-tooltips*GtkLabel" style "tips"

widget "tabbedwin" binding "help_p1"
widget "addrbook" binding "help_p2"
widget "account" binding "help_p3"
widget "events" binding "help_p4"
widget "help" binding "help_help"
class "GtkWindow" binding "help_main"
class "GtkWindow" style "window"
class "GtkWidget" style "window"
widget_class "GtkWindow.GtkFrame" style "border"
class "GtkButton" style "button"
class "GtkMenu" style "button"
widget "browser" style "sky"
widget "*.caption" style "caption"
widget "*.title" style "title"
widget "*.decoration" style "decoration"
widget "*.decoration.*" style "decoration"
widget "*.help_show:*" style "decoration"
