; If you want to create windows which have as a parent another window, in the section for each child window
; add the parameter "parent=" with the name of the parent window.
; ATTENTION! Keep in mind that the parent window should be created before the child window.
; This means that here you should list the windows in a order similar to the example bellow:
;
; [parentwindow_1]
; description=...
; [childwindow_1]
; description=...
; parent=parentwindow_1
; [childwindow_2]
; description=...
; parent=parentwindow_1
;
; [parentwindow_2]
; description=...
; [childwindow_3]
; description=...
; parent=parentwindow_2


[mainwindow]
enabled=true
visible=true
mainwindow=true
description=qt4client.ui

[settings]
enabled=yes
description=settings.ui

[events]
enabled=true
description=events.ui

[help]
enabled=true
description=help.ui

[confirm]
enabled=true
description=confirm.ui

[message]
enabled=true
description=message.ui

[input]
enabled=false
description=input.ui

[inputpwd]
enabled=false
save=false
description=inputpwd.ui

[inputacccred]
enabled=false
save=false
description=inputacccred.ui

[account]
enabled=true
description=account.ui

[accountlist]
enabled=true
description=accountlist.ui

[accountwizard]
enabled=true
description=accountwizard.ui

[addrbook]
enabled=true
description=addrbook.ui

[chat]
enabled=no
save=false
description=chat.ui

[dockedchat]
enabled=yes
description=dockedchat.ui

[mucs]
enabled=yes
description=mucs.ui

[mucchat]
enabled=no
description=mucchat.ui

[mucinvite]
enabled=yes
visible=false
description=mucinvite.ui

[mucprivchat]
enabled=no
description=mucprivchat.ui

[joinmucwizard]
enabled=true
savealias=false
description=joinmucwizard.ui

[contactedit]
enabled=no
save=false
description=contactedit.ui

[chatroomedit]
enabled=no
save=false
description=chatroomedit.ui

[contactinfo]
enabled=no
save=false
description=contactinfo.ui

[contactfs]
enabled=no
save=false
description=contactfs.ui

[contactfsd]
enabled=no
save=false
description=contactfsd.ui

[messages_header]
enabled=no
description=messages_header.ui

[messages_generic]
enabled=no
description=messages_generic.ui

[messages_okrejignore]
enabled=no
description=messages_okrejignore.ui

[messages_loginfail]
enabled=no
description=messages_loginfail.ui

[fileprogress]
enabled=yes
description=fileprogress.ui

[fileprogress_item]
enabled=no
description=fileprogress_item.ui

[archive]
enabled=yes
visible=false
description=archive.ui

[busy]
enabled=no
description=busy.ui

[notification]
enabled=yes
save=false
description=notification.ui
