[mainwindow]
enabled=true
visible=true
mainwindow=true
description=qt4client.ui

[account]
enabled=true
description=account.ui

[addrbook]
enabled=true
description=addrbook.ui

[events]
enabled=true
description=events.ui

[help]
enabled=true
description=help.ui

[confirm]
enabled=true
description=confirm.ui

[message]
enabled=true
description=message.ui
