/* QComboBox */

QComboBox {
  margin: 0px 0px 0px 0px;
}
QComboBox::drop-down {
}

/* QTabWidget and QTabBar */

QTabWidget::pane {
  top: -1px;
}

QTabBar::tab {
  padding-left: 6px;
  padding-right: 2px;
}
