*.cache
Makefile
YateLocal*
configure
config.*
*-stamp
yatepaths.h
yateversn.h
yateiss.inc
run
yate.spec
yate
yate-config
yate.pc
core*
yate.core*
*.o
*.a
*.so
*.so.*
*.yate
*/*.yate
*.orig
*/*.orig
*~
.*.swp
*.log
*.out
*.csv
*.tsv
docs/api/*
modules/qt4/*.moc
clients/yate-qt4
engine/tables/*.h
libs/ysig/yate-ss7test
packing/portage/yate.ebuild
yate-config.in
conf.d/*.conf

