# fix a bug in the default style of check and radio buttons
style "check_button" {
    bg_pixmap[PRELIGHT] = "<parent>"
}
class "GtkCheckButton" style "check_button"

style "red" {
    bg[NORMAL] = { 1.0, 0.5, 0.5 }
}

style "green" {
    bg[NORMAL] = { 0.5, 1.0, 0.5 }
}

style "blue" {
    bg[NORMAL] = { 0.5, 0.5, 1.0 }
    GtkButton::default_border = { 5, 0, 5, 0 }
}

style "sky" {
    bg[NORMAL] = { 0.85, 0.85, 1.0 }
}

style "tips" {
    bg[NORMAL] = { 1.0, 1.0, 0.9 }
    fg[NORMAL] = { 0.0, 0.0, 0.3 }
}

style "window" {
    bg[NORMAL] = { 0.75, 0.80, 0.71 }
    bg[ACTIVE] = { 0.58, 0.67, 0.57 }
    bg[PRELIGHT] = { 0.66, 0.74, 0.64 }
}

style "button" {
    bg[NORMAL] = { 0.85, 0.90, 0.81 }
    bg[ACTIVE] = { 0.68, 0.77, 0.67 }
    bg[PRELIGHT] = { 0.76, 0.84, 0.74 }
}

style "border" {
    bg[NORMAL] = { 0.91, 0.47, 0.10 }
    xthickness = 2
    ythickness = 2
}

style "decoration" {
    bg[NORMAL] = { 0.46, 0.77, 0.94 }
    fg[NORMAL] = { 0.85, 0.15, 0.11 }
    fg[ACTIVE] = { 0.85, 0.15, 0.11 }
    fg[PRELIGHT] = { 0.95, 0.25, 0.21 }
    xthickness = 2
    ythickness = 2
    font_name = "Sans Bold 8"
    GtkButton::default_border = { 5, 0, 5, 0 }
    GtkWidget::focus_padding = 100
    GtkButton::child_displacement_x = 1
    GtkButton::child_displacement_y = 1
}

style "caption" {
    bg[NORMAL] = { 0.93, 0.95, 0.96 }
}

style "win_skinned" {
    bg_pixmap[NORMAL] = "skin.png"
}

style "skin_skinned" {
    xthickness = 0
    ythickness = 0
    GtkWidget::focus_padding = 100
    GtkButton::child_displacement_x = 0
    GtkButton::child_displacement_y = 0
    GtkButton::default_border_outside = 0
    bg_pixmap[NORMAL] = "skin_n.png"
    bg_pixmap[PRELIGHT] = "skin_h.png"
    bg_pixmap[ACTIVE] = "skin_p.png"
    bg_pixmap[INSENSITIVE] = "skin_g.png"
}

style "btn_minimize" = "skin_skinned" {
    engine "pixmap" { }
}

style "btn_close" = "skin_skinned" {
    engine "pixmap" { }
}

style "btn_call" = "skin_skinned" {
    engine "pixmap" { }
}

style "btn_hangup" = "skin_skinned" {
    engine "pixmap" { }
}

style "btn_channels" = "skin_skinned" {
    engine "pixmap" { }
}

style "btn_settings" = "skin_skinned" {
    engine "pixmap" { }
}

widget "gtk-tooltips" style "tips"
widget "gtk-tooltips*GtkLabel" style "tips"

class "GtkWindow" style "window"
class "GtkWidget" style "window"
widget_class "GtkWindow.GtkFrame" style "border"
class "GtkButton" style "button"
class "GtkMenu" style "button"
widget "skinned" style "win_skinned"
widget "browser" style "sky"
#widget "*.call" style "green"
widget "skinned.*.call" style "btn_call"
widget "skinned.*.hangup" style "btn_hangup"
widget "skinned.*.channels" style "btn_channels"
widget "skinned.*.settings" style "btn_settings"
widget "skinned.*.btn_minimize" style "btn_minimize"
widget "skinned.*.btn_close" style "btn_close"
#widget "*.accept" style "green"
#widget "*.reject" style "red"
#widget "*.hangup" style "red"
widget "*.caption" style "caption"
widget "*.decoration" style "decoration"
widget "*.decoration.*" style "decoration"
