[Desktop Entry]
Encoding=UTF-8
Name=Yate VoIP Client
Name[ro]=Yate client de VoIP
GenericName=VoIP Phone
GenericName[ro]=Telefon VoIP
Comment=Place phone calls over the Internet
Comment[ro]=Apeluri telefonice peste Internet
Exec=yate-qt4
Icon=null_team-48.png
TryExec=yate-qt4
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Network;Qt
