; Warning: all strings are case sensitive
;
; sections with an empty username or with enabled=no are ignored

[test_sip]
protocol=sip
;username=me
description=Test SIP account
;interval=600
;formats=alaw,mulaw,gsm
;password=1234
;number=1234
;domain=somewhere.org
;registrar=10.0.0.1:5060
;outbound=10.0.0.1:5061

[test_h323]
protocol=h323
;username=me
description=Test H.323 account
;interval=600
;formats=alaw,mulaw,gsm
;password=1234
;number=1235
;gatekeeper=10.0.0.1:1721
;gateway=10.0.0.1:1720

[test_iax]
protocol=iax
;username=me
description=Test IAX2 account
;interval=600
;formats=alaw,mulaw,gsm
;password=1234
;number=1235
;server=10.0.0.2:1721
