[general]

; feature_fileinfo: boolean: Advertise file info share capability
; This parameter is applied on reload and can be overridden in user.login messages
; Defaults to yes
;feature_fileinfo=yes

; feature_rsm: boolean: Advertise result set management capability
; This parameter is applied on reload and can be overridden in user.login messages
; Defaults to yes
;feature_rsm=yes

; stream_readbuffer: integer: The length of the stream read buffer
; Defaults to 8192 if missing or invalid. Minimum allowed value is 1024
;stream_readbuffer=8192

; stream_parsermaxbuffer: integer: The maximum length of an incomplete xml allowed
;  in a stream parser's buffer
; Defaults to 8192 if missing or invalid. Minimum allowed value is 1024
;stream_parsermaxbuffer=8192

; stream_restartcount: integer: The maximum value for stream restart counter
; Defaults to 2 if missing or invalid
; Minimum allowed value is 1, maximum allowed value is 10
;stream_restartcount=2

; stream_restartupdateinterval: integer: The interval, in milliseconds, to increase a
;  stream's current restart counter (not exceeding the stream_restartcount value)
; Defaults to 15000 if missing or invalid
; Minimum allowed value is 5000, maximum allowed value is 300000
;stream_restartupdateinterval=15000

; stream_starttimeout: integer: The interval, in milliseconds, allowed for a remote
;  party to send the stream start tag
; Defaults to 20000 if missing or invalid
; Minimum allowed value is 10000, maximum allowed value is 60000
;stream_starttimeout=20000

; stream_setuptimeout: integer: Overall stream setup interval in milliseconds. The timer
;  will stop when the stream is authenticated
; Defaults to 120000 if missing or invalid
; Minimum allowed value is 60000, maximum allowed value is 600000
;stream_setuptimeout=120000

; stream_connecttimeout: integer: The interval, in milliseconds, allowed for an
;  outgoing stream to make a TCP connection to a remote host
; Defaults to 60000 if missing or invalid
; Minimum allowed value is 1000, maximum allowed value is 120000
;stream_connecttimeout=60000

; stream_srvtimeout: integer: The timeout interval, in milliseconds, for SRV query
; Defaults to 30000 if missing or invalid
; Minimum allowed value is 10000, maximum allowed value is 120000
;stream_srvtimeout=30000

; stream_redirectcount: integer: The number of successive stream redirect to handle for
;  outgoing streams
; This parameter configures how the 'see-other-host' stream error is handled. If set to 0
;  or current redirect counter has reached the maximum allowed value the stream will be
;  terminated. The stream will be redirected to new host/ip otherwise
; NOTE: When a stream is authenticated its redirect counter is reset to 0
; This parameter is applied on reload for new streams only
; Defaults to 2 if missing or invalid
; Minimum allowed value is 0, maximum allowed value is 10
; A value outside min/max interval will be adjusted to nearest interval margin
;stream_redirectcount=2

; stream_pinginterval: integer: The interval in milliseconds to ping the server
; Ping is always re-scheduled when receiving data from the server
; This parameter is applied on reload
; Minimum allowed value is 60000, maximum allowed value is 3600000
; Defaults to 600000
; Set it to 0 to disable ping
;stream_pinginterval=600000

; stream_pingtimeout: integer: Sent ping timeout in milliseconds
; When a ping times out the stream is terminated
; This parameter is applied on reload
; Minimum allowed value is 10000, maximum allowed value is 60000
; Defaults to 30000
; Set it to 0 to disable ping
;stream_pingtimeout=30000

; entitycaps: boolean: Enable entity capabilities cache.
; If enabled entity capabilities will be requested and cached each time a presence
;  stanza is received
; Defaults to enable
;entitycaps=enable

; entitycaps_file: string: Entity capabilities cache file
; This parameter is applied on reload
; If the file changes on reload entity capabilities will be saved in the new
;  location, the old file will not be deleted
; Client: defaults to 'jabberentitycaps.xml' located in current user's files directory
; Server: defaults to 'jabberentitycaps.xml' located in current configuration directory
;entitycaps_file=

; printxml: boolean/string: Print sent/received XML data to output if debug
;  level is at least 9
; Allowed values are boolean values or 'verbose' string
; If verbose is specified, XML elements' children, attributes or text will be
;  shown on separate lines
; Defaults to verbose
;printxml=verbose
