[general]
; Global settings of the late routing module

; enabled: boolean: Enable late routing module operation
;enabled=true if the list of types is not empty

; priority: int: Priority of call.execute and msg.execute handler
;priority=75

; types: list: Comma separated list of target types to be late routed
;  For each target of the form type/NNN a route request for NNN will be made
;  The "pstn" and "voice" types must be enabled in the ENUM module
;types=lateroute,route,pstn,voice


; regexp: string: Regular expression describing callto match rules
;  OBSOLETE - do not use, for backwards compatibility only
;regexp=

; called: string: Template for creating calling number from regexp match
;  OBSOLETE - do not use, for backwards compatibility only
;called=\0


[route type]

; call.execute: string: route_type parameter to be set when sending call.route
;  for a call.execute message
; This parameter is ignored if 'route_type' is already set
; This parameter is not applied on reload
; Defaults to 'call' if missing
;call.execute=call

; msg.execute: string: route_type parameter to be set when sending call.route
;  for a msg.execute message
; This parameter is ignored if 'route_type' is already set
; This parameter is not applied on reload
; Defaults to 'msg' if missing
;msg.execute=msg
