[general]
; This section sets global variables of the MGCP Gateway module

; standby: bool: Enter standby mode initially
;standby=no

; cluster: bool: Enable cluster mode
; If standby is enabled cluster mode is forced
;cluster=


[engine]
; These parameters are used to initialize the MGCP Engine

; enabled: bool: Enable the MGCP engine
;enabled=yes

; address: ipaddress: Local IP address to bind to, default all interfaces
;address=0.0.0.0

; port: int: UDP port to bind, set to zero to use default MGCP GW port (2427)
;port=

; request_ack: bool: Request an Acknowledge of the transactions
;request_ack=yes

; send_provisional: bool: Send 1xx provisional answers to the requests
;send_provisional=yes


;[ep PUT_NAME_HERE]
; One ep ... section is required for each of our endpoints
; Each endpoint can be associated with at most one Call Agent
; The endpoint name is a string that can be referenced from other modules

; local_user: string: The user part of the local endpoint, default endpoint name
;local_user=

; local_host: string: The host part of the local endpoint, default engine's address
;local_host=

; local_port: int: Declared local port, defaults to engine's port
;local_port=

; remote_host: string: The host part of the remote endpoint, required
;remote_host=

; remote_port: int: Declared remote port, use MGCP default if not set or zero
;remote_port=
