[general]
; This section sets global variables of the MGCP Call Agent module

; priority: int: Priority of the chan.rtp message handler
;priority=80


[engine]
; These parameters are used to initialize the MGCP Engine

; enabled: bool: Enable the MGCP engine
;enabled=yes

; address: ipaddress: Local IP address to bind to, default all interfaces
;address=0.0.0.0

; port: int: UDP port to bind, set to zero to use default MGCP CA port (2727)
;port=

; request_ack: bool: Request an Acknowledge of the transactions
;request_ack=yes

; send_provisional: bool: Send 1xx provisional answers to the requests
;send_provisional=yes


[endpoint]
; Settings for the local endpoint

; user: string: The user part of the local endpoint
;user=yate

; host: string: The host part of the local endpoint, default engine's address
;host=

; port: int: Declared local port, defaults to engine's port
;port=


;[gw PUT_NAME_HERE]
; One gw ... section is required for each gateway we control
; The gateway name is a string that can be referenced from other modules

; user: string: Remote MGCP resource name
;user=

; host: ipaddress: IP address or hostname of the gateway, mandatory
;host=

; port: int: Remote port to send packets to
;port=2427

; address: ipaddress: IP address of the gateway, if present will override
;  resolving the host name and will immediately make the span operational
;  without waiting for a remote RSIP
;address=

; version: string: Protocol name and version to use initially, if left blank
;  will autodetect from first received RSIP, until then uses MGCP 1.0
; Depending on remote capabilities and settings it is possible to use the SGCP
;  or TGCP protocols too.
;version=

; default: bool: This is the default gateway to send commands to
; The first gateway which is not explicitely disabled or the last that is
;  explicitely enabled will become default
;default=no

; chans: int: Number of PSTN circuits to create in span
;chans=1

; offset: int: Offset of circuit code relative to start in span
;offset=0

; increment: integer: How much will increment this span the circuit number in
;  the group it belongs to
; Defaults to 32 if chans is 30 or 31 (E1), 24 if chans is 23 (T1), number of
;  circuits in all other cases
;increment=

; clearconn: bool: Clear all connections of remote endpoints when initialized
;clearconn=no
