[general]
; This section sets global variables of the MGCP Call Agent module

; priority: int: Priority of the chan.rtp message handler
;priority=80


[engine]
; These parameters are used to initialize the MGCP Engine

; enabled: bool: Enable the MGCP engine
;enabled=yes

; address: ipaddress: Local IP address to bind to, default all interfaces
;address=0.0.0.0

; port: int: UDP port to bind, set to zero to use default MGCP CA port (2727)
;port=

; request_ack: bool: Request an Acknowledge of the transactions
;request_ack=yes

; send_provisional: bool: Send 1xx provisional answers to the requests
;send_provisional=yes


[endpoint]
; Settings for the local endpoint

; user: string: The user part of the local endpoint
;user=yate

; host: string: The host part of the local endpoint, default engine's address
;host=

; port: int: Declared local port, defaults to engine's port
;port=


;[gw PUT_NAME_HERE]
; One gw ... section is required for each gateway we control
; The gateway name is a string that can be referenced from other modules

; user: string: Remote MGCP resource name
;user=

; host: ipaddress: IP address of the gateway, mandatory
;host=

; port: int: Remote port to send packets to
;port=2427

; default: bool: This is the default gateway to send commands to
;default=no
