[priorities]
preroute=80
route=80

[contexts]
sip:.*=sip
iax:.*=iax
^1=from-us
.*=default

[default]
^1\(.*\)$=us-number-1-\1
^40=romania
^800=green
^\(.\)\(..\)\(...\)$=6digit/\1-\2-\3
^.....$=5digit
^....$=4digit
.*=defaultroute/\0

[sip]
.*:\(.*\)@.*=\1

[iax]
.*:\(.*\)@.*=\1

[from-us]
^1=local
.*=defaultroute
