[general]
; Each section creates a connection listener in the Remote Manager.
; An empty (all defaults) general section is assumed only in server mode if the
;  configuration file is missing.

; port: int: TCP Port to listen on, 0 to disable the listener
;port=5038

; addr: ipaddress: IP address to bind to
;addr=127.0.0.1

; header: string: Header string to display on connect
;header=YATE ${version}-${release} r${revision} (http://YATE.null.ro) ready on ${nodename}.

; password: string: Password required to authenticate as admin, default empty!
;password=

; userpass: string: Password to authenticate as observer user, default empty!
;userpass=

; timeout: int: Timeout until authentication succeeds in msec
;  Defaults to waiting 30s until closing an unauthenticated connection
;  Set to zero to disable else enforced minimum value is 5000 ms (5s)
;timeout=30000

; telnet: bool: Initiate TELNET negotiation on connect
;telnet=yes

; output: bool: Enable output as soon as connecting
;  This setting is ignored if an userpass is set
;output=no

; debug: bool: Enable local debug as soon as connecting
;  This setting is ignored if any password is set
;debug=no

; color: bool: Enable colorization debug as soon as connecting
;  This setting is ignored if telnet negotiation is disabled
;color=no

; interactive: bool: Disable the TCP coalescing to improve interactivity
;  This is almost never required and needs Yate to run as superuser
;interactive=no

; maxhistory: int: Number of distinct lines to preserve in the session history
;  The Up / Down arrow keys allow cycling through the history
;maxhistory=10

; context: string: SSL context to use to secure the connection
;  Setting a context enables SSL on the listener and overrides any domain
;context=

; domain: string: Domain used to identify the SSL context to use
;  Setting a domain enables SSL on the listener
;domain=

; verify: keyword: SSL handshake client certificate verification type
;  For acceptable values see the documentation of the openssl module
;  By default no client certificate is required
;verify=

; Initial aliases can be created for each connection
; Each declaration line starts with alias: and may include \0 as placeholder
;  for the line entered in rmanager and \1 ... \9 for individual components
; Example:
;  alias:cgu=control \1/ISUP unblock force=yes circuits=\2
