; Warning: all strings are case sensitive
;
; supported keywords (you can always specify numbers directly):
;
; swtype= unknown,ni2,dms100,lucent5e,at&t4ess,euroisdn_e1,euroisdn_t1,ni1
; dialplan= unknown,international,national,local,private
; numplan= unknown,e164,x121,f69,national,private,reserved
; numtype= unknown,international,national,net_specific,subscriber,abbreviated,
;   reserved
; presentation= allow_user_not_screened,allow_user_passed,allow_user_failed,
;   allow_network,prohibit_user_not_screened,prohibit_user_passed,
;   prohibit_user_failed,prohibit_network,not_available
; type= pri_net,pri_cpe
;
; mode= first,rotate,random

[general]
;buflen=160
;restart=0
;dumpevents=no
;dtmfinband=no

[span 1]
;dgroup=w1g1
;bgroup=w1g2
;card=wanpipe1
chans=31
;first=1
;dchan=16
;type=pri_net
;swtype=unknown
;dialplan=unknown
;presentation=allow_user_not_screened

;[group alpha]
;enabled=yes
;mode=rotate
;first=1
;last=31
