[general]
; set global parameters of the RADIUS client

; enabled: bool: Enable the RADIUS module
;enabled=true

; addr: ipaddress: IP address to bind to - must be set to enable, 0.0.0.0 is OK
;addr=

; port: integer: UDP port to bind to, must be non-zero
;port=1810

; single_socket: bool: Share the socket for requests (not recommended)
;single_socket=false

; local_time: bool: Use local timestamps instead of GMT
;local_time=false

; short_number: bool: Prefer to use parameter "called" over "calledfull"
;short_number=false

; auth_priority: integer: Priority of the user.auth handler
;auth_priority=70

; acct_priority: integer: Priority of the call.cdr handler
;acct_priority=70

; print_attributes: bool: Print returned attributes on debug level ALL
;print_attributes=false

; cisco_format: bool: Add hardcoded attributes in Cisco format
;cisco_format=true

; quintum_format: bool: Add hardcoded attributes in Quintum format
;quintum_format=true

; NOTE: The Cisco and Quintum attributes can be enabled both at the same time
; and the hardcoded attributes will be added as Cisco and Quintum attributes


[portabill]
; Settings related to interoperation with PortaOne's PortaBill

; enabled: bool: Enable handling of the routing parameters
;enabled=no

; parallel: bool: Make outgoing calls in parallel instead of sequence
;parallel=no

; simplify: bool: Simplify returned partial URIs by stripping parameters
;simplify=no

; maxcall: int: Maximum time to wait until call is answered in milliseconds
;maxcall=

; stoperror: string: Regular expression matching the names of the errors
;  that will terminate the entire call, not just one route
;stoperror=busy


;[nas]
;There can be several sections named [nas] or [nas SOMETHING]

; rad_auth: bool: Enable authentication on this virtual NAS
;rad_auth=yes

; rad_acct: bool: Enable accounting on this virtual NAS
;rad_acct=yes

; rad_server: string: Name of the server to use, default [radius SOMETHING]
;rad_server=

; add: will add an attribute to the RADIUS request
;add:attribute-name=EXPRESSION
;add:subtype:attribute-name=EXPRESSION

; set: will set message parameters
;set:paramname=EXPRESSION

; ret: will set authentication returned attributes back into message
;ret:attribute-name=paramname

; ret-fail: will set returned attributes from auth rejection back into message
;ret-fail:attribute-name=paramname

; Any other parameter will attempt to match the right hand Regexp
;paramname=REGEXP


[nas register]
; Sample SIP REGISTER authentication NAS
rad_acct=false
rad_server=common
protocol=sip
method=REGISTER
add:Service-Type=15
add:Cisco-AVPair=h323-session-protocol=sipv2


[nas invite]
; Sample SIP INVITE authentication NAS
rad_acct=false
rad_server=common
protocol=sip
method=INVITE
add:Service-Type=15
add:Cisco-AVPair=h323-session-protocol=sipv2
; PortaOne specific
;add:Cisco-AVPair=h323-ivr-out=PortaBilling_Routing:SIP


[nas auth]
; Sample authentication NAS
; Settings and matching rules specific to this virtual Network Access Server
rad_acct=no
rad_server=common
; Some RADIUS attributes you're likely to set
add:Service-Type=8


[nas acct]
; Sample accounting NAS
; Settings and matching rules specific to this virtual Network Access Server
rad_auth=no
rad_server=common
; Some RADIUS attributes you're likely to set
add:h323-disconnect-cause=${cause_q931}
add:Acct-Delay-Time=0


[radius common]
; Settings specific to this RADIUS server

; server: ipaddress: IP address of the server - must be set
;server=

; secret: string: Secret token (password) used to authenticate to the server
;secret=

; auth_port: integer: UDP port used by the server for authentication
;auth_port=1812

; acct_port: integer: UDP port used by the server for accounting
;acct_port=1813

; timeout: integer: How much to wait for an answer from the server (milliseconds)
;timeout=2000

; retries: integer: How many attempts to make until timing out
;retries=2

; Some RADIUS attributes you're likely to set
add:Cisco-NAS-Port=${chan}
add:NAS-Identifier=Yate
;add:NAS-IP-Address=
