[general]
; software: string: String to set in SOFTWARE STUN attributes
;software=YATE/3.0.0


[filters]
; This section configure the STUN socket filters

; bindrequest_interval: integer: Set the interval (in miliseconds) to send Binding Requests
; It takes values between 5000 and 60000
;bindrequest_interval=15000
