Source: yate
Section: comm
Priority: optional
Maintainer: Vasily i. Redkin <vir@ctm.ru>
Build-Depends: build-essential, debhelper (>= 7), pkg-config,
 libasound2-dev, libqt4-dev, libh323plus-dev|libopenh323-dev, libpt-dev,
 libpq-dev, libmysqlclient-dev, libssl-dev, zaptel-source|dahdi-source,
 libgsm1-dev, libspeex-dev, libspandsp-dev, doxygen, autoconf
Standards-Version: 3.7.3
Homepage: http://yate.null.ro/

Package: yate
Architecture: any
Suggests: yate-telhw, yate-pgsql 
Depends: libyate (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: The YATE project aims to be a fully featured software PBX.
 .
 This is version 4 or YATE.
 .
 YATE is a next-generation telephony engine; while currently focused on Voice
 over Internet Protocol (VoIP) and PSTN, its power lies in its ability to be
 easily extended. Voice, video, data and instant messenging can all be unified
 under Yate's flexible routing engine, maximizing communications efficiency and
 minimizing infrastructure costs for businesses. 
 .
 This most recent version from the Yate software has bring several improvements
 over the previous versions:
 .
    * SCCP, TCAP, MAP and CAMEL, TCP and TLS in SIP
    * Jabber client and server
    * Support for more hardware interfaces and protocols - added SS7, analogic
      support, RBS, better ISDN, passive recording
    * Clustering, balancing and failover support, Linux-HA integration
    * Added MGCP and Jingle support 

Package: libyate
Section: libs
Conflicts: yate (<< 4.0.0)
Replaces: libyate (<< 4.0.0)
Breaks: libyate (<< 4.0.0)
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: YATE shared library

Package: yate-dev
Section: libdevel
Architecture: any
Suggests: libyate-dbg, yate-dbg, yate-telhw-dbg, yate-doc
Depends:  libyate (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: YATE library development files

Package: yate-qt4
Architecture: any
Recommends: yate-alsa
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt4 software VoIP and Jabber client, based on YATE

Package: yate-alsa
Architecture: any
Recommends: yate (= ${binary:Version}) | yate-qt4 (= ${binary:Version})
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ALSA channel driver for YATE

Package: yate-h323
Architecture: any
Recommends: yate (= ${binary:Version}) | yate-qt4 (= ${binary:Version})
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Yate h323 module

Package: yate-mysql
Architecture: any
Recommends: yate (= ${binary:Version})
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MySQL support for yate

Package: yate-pgsql
Architecture: any
Recommends: yate (= ${binary:Version})
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Postgres support for yate

Package: yate-telhw
Architecture: any
Recommends: yate (= ${binary:Version}) | yate-qt4 (= ${binary:Version})
Depends: libyate (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Telephony hardware support for yate server
 Also MGCP CA module.

Package: yate-doc
Section: doc
Architecture: all
Description: Documentation for yate

Package: libyate-dbg
Section: libdevel
Architecture: any
Depends: libyate (= ${Source-Version})
Recommends: gdb
Description: Debug symbols for the yate library

Package: yate-dbg
Section: devel
Architecture: any
Depends: yate (= ${Source-Version})
Recommends: gdb
Description: Debug symbols for the yate application

Package: yate-telhw-dbg
Section: devel
Architecture: any
Depends: yate-telhw (= ${Source-Version})
Recommends: gdb
Description: Debug symbols for the yate telephony hardware modules


