Source: yate
Section: comm
Priority: optional
Maintainer: Vasily i. Redkin <vir@ctm.ru>
Build-Depends: build-essential, debhelper (>= 7), pkg-config,
 quilt >= 0.46-7,
 libasound2-dev, libqt4-dev, libh323plus-dev|libopenh323-dev, libpt-dev,
 libpq-dev, libmysqlclient-dev, libssl-dev, zaptel-source|dahdi-source,
 libgsm1-dev, libspeex-dev, libspandsp-dev, doxygen, autoconf, libsctp-dev,
 libsqlite3-dev
Standards-Version: 3.7.3
Homepage: http://yate.null.ro/

Package: yate
Architecture: any
Suggests: yate-telhw, yate-pgsql 
Depends: libyate (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends},
 libsctp1
Description: The YATE project aims to be a fully featured software PBX.
 .
 This is version 3 or YATE.
 .
 This most recent version from the Yate software has bring several improvements
 over the previous versions:
 .
    * Support for more hardware interfaces and protocols - added SS7, analogic
    * support, RBS, better ISDN, passive recording
    * Clustering, balancing and failover support, Linux-HA integration
    * Improved client functionality - switched from GTK to Qt
    * Easier involvement of the Yate community - swtched from CVS to SVN
    * Added MGCP and Jingle support 

Package: libyate
Section: libs
Conflicts: yate (<< 3.0.0)
Replaces: libyate (<< 3.0.0)
Breaks: libyate (<< 3.0.0)
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libspeex1, libgsm1
Description: YATE shared library

Package: yate-dev
Section: libdevel
Architecture: any
Suggests: libyate-dbg, yate-dbg, yate-telhw-dbg, yate-doc
Depends:  libyate (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: YATE library development files

Package: yate-qt4
Architecture: any
Recommends: yate-alsa
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt4 software VoIP client, based on YATE

Package: yate-alsa
Architecture: any
Recommends: yate (= ${binary:Version}) | yate-qt4 (= ${binary:Version})
Depends: ${shlibs:Depends}, ${misc:Depends}, libasound2
Description: ALSA channel driver for YATE

Package: yate-h323
Architecture: any
Recommends: yate (= ${binary:Version}) | yate-qt4 (= ${binary:Version})
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Yate h323 module

Package: yate-mysql
Architecture: any
Recommends: yate (= ${binary:Version})
Depends: libyate(= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: MySQL database support for yate

Package: yate-pgsql
Architecture: any
Recommends: yate (= ${binary:Version})
Depends: libyate(= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends},
 libpq5
Description: Postgres database support for yate

Package: yate-sqlite
Architecture: any
Recommends: yate (= ${binary:Version})
Depends: libyate(= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends},
 libsqlite3-0
Suggests: sqlite3
Description: SQLite database support for yate

Package: yate-telhw
Architecture: any
Recommends: yate (= ${binary:Version}) | yate-qt4 (= ${binary:Version}),
 dahdi | zaptel
Depends: libyate (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Telephony hardware support for yate server
 Also MGCP CA module.

Package: yate-doc
Section: doc
Architecture: all
Description: Documentation for yate

Package: yate-dbg
Section: devel
Architecture: any
Depends: libyate (= ${Source-Version})
Recommends: gdb
Replaces: libyate-dbg, yate-telhw-dbg
Description: Debug symbols for all yate applications and libraries



